@model HomeVM
@{
    ViewData["Title"] = "Home Page";
}

    <section id="mobapp">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-6 col-md-12">
                    <div class="section-text">
                        <h5 class="text-blue fw-bolder">@Model.HomePages.Title1</h5>
                        <h1 class="text-red fw-bolder">@Model.HomePages.Subtitle1</h1>
                        <div class="signimg"><img src="~/img/homepageslider/@Model.HomePages.SignImg" alt="That's an image "></div>
                        <div class="inner-text">
                            <p>
                                @Model.HomePages.Description1
                            </p>
                        </div>
                        <div class="col-12 stores">
                            <a class="col-6 m-2" href="https://apps.apple.com/us/app/dominos-pizza-azerbaijan/id1535012493"> <img class="appstore m-1" src="~/img/footer/App-store.png" alt="That's an image "></a>
                            <a class="col-6" href="https://play.google.com/store/apps/details?id=com.dominospizza.az"> <img class="googleplay" src="~/img/footer/google-play.png" alt="That's an image "></a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-12">
                    <div class="section-image">
                        <img src="~/img/homepageslider/@Model.HomePages.SectionImg1" alt="That's an image ">
                    </div>
                </div>
            </div>
        </div>
    </section>


    <section id="prizes">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-6 col-md-12">
                    <div class="section-image">
                        <img src="~/img/homepageslider/@Model.HomePages.SectionImg2" alt="That's an image ">
                    </div>
                </div>
                <div class="col-lg-6 col-md-12">
                    <div class="section-text " style="text-align: right;">
                        <h5 class="text-blue fw-bolder">@Model.HomePages.Title2</h5>
                        <h1 class="text-red fw-bolder">@Model.HomePages.Subtitle2</h1>
                        <div class="inner-text">
                            <p>@Model.HomePages.Description2 </p>
                        </div>
                        <div class="col-12">
                            @if (!User.Identity.IsAuthenticated)
                            {<a asp-controller="Account" asp-action="Login">
                                <button class="btn btn-lg btn-outline-danger">
                                    <i class="fas fa-map-marker-alt "></i>
                                    İndi tanış ol
                                </button>
                            </a>
                            }
                            else
                            {
                            <a asp-controller="Offers" asp-action="Index">
                                <button class="btn btn-lg btn-outline-danger">
                                    <i class="fas fa-map-marker-alt "></i>
                                    İndi tanış ol
                                </button>
                            </a>
                            }

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id="createpizza">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12 col-md-12 ">
                    <div class="innersection ">
                        <img class="bgimg" src="~/img/homepageslider/home4.jpg " alt="That's an image ">
                        <img class="rightimg" src="~/img/homepageslider/@Model.HomePages.SectionImg3" alt="">
                        @if (!User.Identity.IsAuthenticated)
                        {<a asp-controller="Account" asp-action="Login">
                                <button class="btn btn-lg btn-outline-danger">
                                    <i class="fas fa-shopping-cart"></i> İNDİ SİFARİŞ ET
                                </button>
                            </a>
                        }
                        else
                        {
                            <a asp-controller="Pizza" asp-action="Index">
                                <button class="btn btn-lg btn-outline-danger">
                                    <i class="fas fa-shopping-cart"></i> İNDİ SİFARİŞ ET
                                </button>
                            </a>
                        }
                    </div>
                </div>
            </div>
        </div>
    </section>