@model List<BasketViewModel> 
@{
    ViewData["Title"] = "Index";

    double total = 0;
    //foreach (var item in Model)
    //    {
    //        total += (double)item.Price * item.Count;
    //    }
 }

<section id="cart">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="cart-inside">
                    @if (Model.Count == 0)
                    {
                        <div class="empty-cart">
                            <img src="~/img/homepageslider/empty-cart.844437f4.png" alt="" class="empty-cart-img">
                            <h1 class="empty-cart-text">sizin səbətiniz boşdur</h1>
                        </div>
                    }

                    else 
                    {
                         @foreach (var item in Model)
                    {
                        total += (double)item.Price * item.Count;
                        <ul class="cart-list">

                            <li class="cart-list-item">
                                <div class="item-image-holder">
                                    <img src="~/img/Product/@item.Image" alt="That's an image">

                                </div>
                                <div class="info-holder">
                                    <h4 class="product-title">
                                        @item.Name
                                    </h4>
                                    <span class="quantity">@item.Count x</span>
                                    <span class="amount">@item.Price AZN</span>
                                </div>
                                <div class="item-editor">
                                    <a class="item-remove" asp-action="removefromcart" asp-route-id="@item.ProductId">
                                        <i class="fal fa-times"></i>
                                    </a>
                                </div>
                            </li>
                        </ul>}
                    }
                </div>


                <hr>
                <div class="cart-bottom">
                    <div class="container">
                        <div class="row">
                            <div class="total-amount bottom bottom-right">
                                ÜMUMİ @total.ToString("F2") AZN
                            </div>
                        </div>
                        <div class="row">
                            <form class="text-center" method="post">
                                <button asp-controller="Cart" asp-action="EmptyCart" type="submit" class="btn btn-danger">Səbəti Boşalt</button>
                                <button asp-controller="Order" asp-action="Index" type="submit" class="btn btn-danger">Sifariş et</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
          
        </div>
    </div>
</section>