@model List<BasketViewModel>
@{
    ViewData["Title"] = "Index";
    double total = 0;
    foreach (var item in Model)
        {
            total += (double)item.Price * item.Count;
        }
        }
}
<section id="cart">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-6">
                @foreach (var item in Model)
                {
                    total += (double)item.Price * item.Count;
                    <div class="cart-inside">
                        <div class="empty-cart">
                            <img src="img/homepageslider/empty-cart.844437f4.png" alt="" class="empty-cart-img">
                            <h1 class="empty-cart-text">sizin səbətiniz boşdur</h1>
                        </div>
                        <ul class="cart-list">
                            <li class="cart-list-item">
                                <div class="item-image-holder">
                                    <img src="~/img/Product/@item.Image" alt="That's an image">

                                </div>
                                <div class="info-holder">
                                    <h4 class="product-title">
                                        @item.Name
                                    </h4>
                                    <span class="quantity">@item.Count x</span>
                                    <span class="amount">@item.Price AZN</span>
                                </div>
                                <div class="item-editor">
                                    <a class="item-remove" asp-action="removefromcart" asp-route-id="@item.ProductId">
                                        <i class="fal fa-times"></i>
                                    </a>
                                </div>
                            </li>
                        </ul>
                    </div>
                }
                <hr>
                <div class="cart-bottom">
                    <div class="container">
                        <div class="row">
                            <div class="total-amount bottom bottom-right">
                                ÜMUMİ @total.ToString("F2")AZN
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">

            </div>
        </div>
    </div>
</section>